@CHARSET "UTF-8";

body{ background:#000; }
.wrap{ width:100%; height:100%; display:block; text-align:center;  margin:0 auto;}

header{ position:fixed; top:0; left:0; width:100%; z-index:9999; box-shadow:0px 2px 2px #000;  background:rgba(0,0,0,0.9);  }
p.log_info { float:left; display:inline-block; height:30px; line-height:30px; color:#fff; }
p.log_info strong a{ color:#fff; font-weight:500 !important; }

nav.gnb{ display:block; width:100%; padding:0 5%; height:30px; background:#111; font-size:11px; background:rgba(0,0,0,1); }
nav.gnb > ul{ float:right; display:inline-block;  }
nav.gnb > ul > li { position:relative;  margin-right:1px; float:left; display:block; height:30px;  line-height:30px; color:#fff;  }
nav.gnb > ul > li > a { text-decoration:none !important; display:block; text-align:center; padding:0 10px; } 
nav.gnb > ul > li:hover > a { background:#232323;  }
nav.gnb > ul > li > ul { display:none; width:100%; }
nav.gnb > ul > li:hover > ul { display:inline-block; }
nav.gnb > ul > li > ul > li { clear:both; height:30px; line-height:30px; color:#fff; }
nav.gnb > ul > li > ul > li > a { color:#fff; display:inline-block; line-height:30px; padding-left:10px; }
nav.gnb > ul > li > ul > li:hover > a { font-weight:600; }
nav.gnb > ul > li.log_user {  }
nav.gnb > ul > li.log_user span { float:left; margin-right:5px; margin-top:7px; border:1px solid #fff; width:15px; display:block; text-align:center; padding:0 !important; height:15px; line-height:13px; font-size:8px; }

nav.lnb{ position:relative; text-align:center; font-size:13px; letter-spacing:1px; border-top:1px solid #565656; display:block; padding:0 5%; width:100%; height:50px; }
nav.lnb > h1 { position:absolute; top:0; left:5%; width:150px; height:50px; display:block; background:url(../img/logo_white.png) no-repeat center left; background-size:auto 40%; text-indent:-9999px; }
nav.lnb > h1 a { display:block; width:100%; height:100%; }
nav.lnb > ul{ display:inline-block; float:right; text-align:left; }
nav.lnb > ul:hover > li > ul { display:inline-block; }
nav.lnb > ul > li { display:inline-block; float:left; line-height:50px; }
nav.lnb > ul > li > a { color:#fff; text-align:center; width:100%; height:100%; padding-right:60px; display:block; } 
nav.lnb > ul > li > ul { position:absoulte; top:0; left:0; display:none;  width:100%; z-index:100;  box-sizing:border-box; }
nav.lnb > ul > li > ul > li { clear:both; height:30px;  line-height:30px; font-size:13px;  color:#fff;width:100%; box-sizing:border-box; }
nav.lnb > ul > li > ul > li a { text-decoration:none; font-size:13px; display:block; width:100%; height:100%; color:#fff; letter-spacing:-1px; }

/*푸터*/
footer{ position:fixed; bottom:0; left:0; width:100%; display:block; padding:20px; background:#000; z-index:9999;}
footer p{ padding:0 5%; margin:0 auto; font-size:10px; letter-spacing:1px; text-align:right; font-family:tahoma; color:#fff; }
footer a.topbtn{ position:absolute; right:0; top:0; width:100px; height:100px; display:block; background-color:#29cadd; background-image:url(../img/btn_top.png); background-position:center; background-repeat:no-repeat; background-size:30px; text-indent:-9999px;}
 
footer iframe{ position:fixed; bottom:100px;; left:0; width:500px;; height:500px; display:block;}
/*에러박스*/
.errorBox{ width:50%; display:block; margin:100px auto; }
.errorBox h1{ font-size:30px; font-weight:600;  color:#d53e2d;   }
.errorBox h3{ margin:10px 0 5px 0; font-size:17px; font-weight:600; }
.errorBox p { margin:3px; }
