@CHARSET "UTF-8";

/*헤더 푸터를 제외한 서브페이지의 레이아웃 등 전체적인 스타일*/
.wrap{ background:url(../img/main/mainbg.png) no-repeat center center; background-attachment:fixed; display:inline-block; }

/*서브페이지 전체 레이아웃*/
.sub_container{ position:relative; width:100%; min-height:100%; padding:130px 50px 80px 220px; margin-bottom:100px; display:inline-block; z-index:1; }
.log_container{ position:relative; width:100%; min-height:100%; padding:130px 50px 80px 220px; margin-bottom:100px; display:inline-block; z-index:1; }
.subContent{ width:100%; min-height:100%; display:inline-block; padding:30px; background:#fff; text-align:left; }
.subContent.nobg{background:rgba(255,255,255,0)}
/*사이드메뉴*/
nav.snb{ position:fixed; top:130px; left:20px; float:left; width:180px; height:100%; display:block; text-align:left; }
nav.snb h2.subtit { margin:20px 0 30px 0; padding-bottom:20px; border-bottom:1px solid #fff; text-align:center; color:#fff; font-weight:500; font-size:17px; letter-spacing:0; }
nav.snb > ul{ margin:0 auto; display:inline-block; width:100%; }
nav.snb > ul > li{ margin-bottom:1px; clear:both; display:innline-block; min-height:50px; width:100%; line-height:50px; }
nav.snb > ul > li > a{ clear:both; display:block; text-decoration:none !important; padding-left:30px; background:#232323; color:#fff; font-size:14px; font-weight:500; } 

nav.snb > ul > li > ul {  width:100%; clear:both; display:none;} 
nav.snb > ul > li > ul > li{ clear:both; height:40px; width:100%; line-height:40px; background:rgba(0,0,0,0.5);  }
nav.snb > ul > li > ul > li a{ display:block; height:100%; width:100%; padding-left:30px;  text-decoration:none; font-size:13px; color:#fff; }
nav.snb > ul > li > ul > li a:before{ content:'';   }
nav.snb > ul > li > ul > li:hover {  nd:rgba(0,0,0,0.9); }

.side_myinfo {position:fixed; top:130px; left:20px; float:left; width:180px; height:75%; display:block; text-align:left; padding:20px; background:#000; color:#fff; }
.side_myinfo dl dt{ clear:both; display:block; width:100%; height:25px; margin:10px 0 20px 0; line-height:25px; font-weight:500; }
.side_myinfo dl dd{ display:block; width:100%; min-height:60px; height:auto;  margin-bottom:5px; font-size:13px; line-height:20px; font-weight:500; }
.side_myinfo dl dd strong{ width:100%; clear:both; display:block; width:100%; height:25px; font-size:15px; } 

.side_myinfo dl dd.goalweight{ padding-left:60px; line-height:30px; min-height:30px;  font-size:20px; background-image:url(../img/sub/scales.png); background-size:15px; background-repeat:no-repeat; background-position:20px 0;  }

.side_myinfo dl dd.photozone{ position:relative; width:100px; height:100px; margin:0 20px 20px 20px; display:block; overflow:hidden; border-radius:60px; border:1px solid #fff; background:#fff; }
.side_myinfo dl dd.photozone input[type=file]{ position:absolute; top:0; left:0; width:100%; height:100%; display:block; cursor:pointer; }
.side_myinfo dl dd.photozone img{ width:100px; height:auto; } 

.side_myinfo dl dd.goalzone{ position:relative; }
.side_myinfo dl dd .txtgoal{ padding-right:20px; width:100%; height:30px; line-height:30px; font-family:'Nanum Pen Script'; background:none; font-size:19px; border:none; }
.side_myinfo dl dd .btn_goal_edit{ position:absolute; top:5px; right:0; width:20px; height:20px; display:block; background:url(../img/bull/bull_pen.png) no-repeat center; cursor:pointer; }

.side_myinfo form{ height:100%; }
.side_myinfo input[type=submit] {position:fixed; bottom:0; left:0; width:100%; height:50px; background:#fff;}

.info_list a{ width:50%; float:left; height:50px; line-height:50px; display:block;   }


.subContent h3{ width:100%; clear:both; padding:0px 20px 20px 10px; border-bottom:1px solid #000; color:#232323; font-size:30px; font-weight:500; text-align:left; break-word:keep-all; }
.subContent h4{ width:100%; clear:both; margin:10px 0; padding:5px; color:#787878; font-size:17px; font-weight:500; text-align:left; break-word:keep-all; color:#454545; }
 
.side_myinfo dl dd.goalzone{ position:relative; }
.side_myinfo dl dd .txtgoal{ padding-right:20px; width:100%; height:30px; line-height:30px; font-family:'Nanum Pen Script'; background:none; font-size:19px; border:none; }
.side_myinfo dl dd .btn_goal_edit{ position:absolute; top:5px; right:0; width:20px; height:20px; display:block; background:url(../img/bull/bull_pen.png) no-repeat center; cursor:pointer; }
 
.fotgoal{ border:1px solid #0f0; margin-top:20px; display:inline-block; }
.fotgoal input[type="text"]{ padding-right:20px; width:100%; height:30px; line-height:30px; font-family:'Nanum Pen Script'; background:none; font-size:19px; border:none; }
.fotgoal input[type="button"]{ position:absolute; top:5px; right:0; width:20px; height:20px; display:block; background:url(../img/bull/bull_pen.png) no-repeat center; cursor:pointer; }
 
/*모달창(레이어)*/
.pop_layer{ position:fixed; top:0; left:0; height:100%; width:100%; display:block; z-index:9999; background:rgba(0,0,0,0.7); overflow:sible; }
.pop_layer .layer_cont{ position:relative; display:block; background:#fff; }
.pop_layer .layer_cont > p{ z-index:90; position:absolute; top:0; right:0; width:100%; min-height:50px; line-height:20px; display:block; padding:15px 80px 15px 25px; overflow:hidden; white-space:normal; text-overflow:ellipsis; background:rgba(15,15,15,1); color:#fff; font-weight:500;  }
.pop_layer .layer_cont > p > strong{ margin-right:3px; color:#3e88d0; padding-left:18px;background-image:url(../img/map/ic_picker_s_on.png); background-repeat:no-repeat;  }
.pop_layer .layer_cont > p > span{position:absolute; top:0; right:0px; display:block; height:50px; width:50px; background:#038bd9; line-height:50px; text-align:center; color:#fff; font-size:25px; cursor:pointer; }
.pop_layer.off{display:none;}

/*모달창(레이어) : 구글맵*/
.pop_layer .layer_cont.google_map .goomap{ border:1px solid #00f; width:100%; height:100% ; margin-top:50px; z-index:10; }
.pop_layer .layer_cont.google_map iframe { width:100%; height:100% ; margin-top:50px; }
.pop_layer .layer_cont.google_map { margin: 10% 20%; height:60%; width:60%;  }
