@CHARSET "UTF-8";

 
@font-face {
  font-family: 'Nanum Square';
  font-style: normal;
  font-weight: 400;
  src: url(font/NanumSquare.woff) format('woff'),
}

@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: url(font/NanumPenScript-Regular.eot);
  src: url(font/NanumPenScript-Regular.eot?#iefix) format('embedded-opentype'),
       url(font/NanumPenScript-Regular.woff2) format('woff2'),
       url(font/NanumPenScript-Regular.woff) format('woff'),
       url(font/NanumPenScript-Regular.ttf) format('truetype');
}
  
body{scrollbar-face-color: #fff;
 scrollbar-shadow-color: #5c6f8a;
 scrollbar-highlight-color: #ccc;
 scrollbar-3dlight-color: #ccc;
 scrollbar-darkshadow-color:#eee;
 scrollbar-track-color: #eee;
 scrollbar-arrow-color: #5c6f8a}
 
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	    background-color:none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section {  
	margin:0;  padding:0;  border:0;  font-size:100%;  vertical-align:baseline;  background:transparent;  
	font-family:'Nanum Squere Gothic','Nanum Barun Gothic', NanumBarunGothic,'나눔바른고딕', 'Nanum Gothic', NanumGothic,'나눔고딕', '돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana;
}
*{ padding:0; margin:0; border:0; box-sizing:border-box; font-family:'Ubuntu', 'Nanum Squere Gothic', 'Nanum Gothic', "Nanum Gothic", "나눔고딕", 나눔고딕;  list-style:none; text-decoration:none; }
a:hover{ color:#d00; }
strong{ font-weight:600; font-family:"나눔고딕"}
ol, ul {  list-style:none;  }
em,address{  font-style:normal;  }
blockquote, q {  quotes:none;  }
table {  border-collapse:collapse;  border-spacing:0;  table-layout:fixed;  }
input[type=text], input[type=password]{ color:inherit; font:inherit; appearance:none; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; }
select { color:inherit; font:inherit;  }
textarea {  resize:vertical;  font:inherit;  overflow-y:auto;  }
img,fieldset{ border:0; }
legend{  width:0;  height:0;  visibility:hidden;  font-size:0;  line-height:0;  }
ul,ol{list-style:none}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
th {  font-weight:Normal; }
button {  margin:0;  padding:0;  border:0;  font:inherit;  color:inherit;  background:transparent;  overflow:visible;  cursor:pointer;  line-height:1;  /*outline: none;*/  }
a:link, a:visited, a:hover, a,active, a:focus {  text-decoration:none; color:inherit;  cursor:pointer;  /* outline: none;*/  }
.eng {font-family:'Ubuntu' !tant; }
h1,h2,h3,h4,h5,h6 { font-family:'Nanum Square','나눔스퀘어','Nanum Barun Gothic','나눔바른고딕', NanumGothic,'나눔고딕'; }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255,255,255,0);
    background-image: none;
    color: rgb(0, 0, 0);
}
.fl{ float:left; }
.fr{ float:right; }
.bor{  border:1px solid #d0d0d0 !important; } 
.nobg{ background:none !important; }
.bttxt{ margin-left:2px; margin-right:2px;  display:inline;  height:inherit; line-height:inherit; }
.mt1{margin-top:1px !important;}
.mt2{margin-top:2px !important;}
.mt3{margin-top:3px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}

.mr1{margin-right:1px !important;}
.mr2{margin-right:2px !important;}
.mr3{margin-right:3px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr50{margin-right:50px !important;}
.mr60{margin-right:60px !important;}
.mr70{margin-right:70px !important;}
.mr80{margin-right:80px !important;}
.mr90{margin-right:90px !important;}
.mr100{margin-right:100px !important;}

.ml1{margin-right:1px !important;}
.ml2{margin-right:2px !important;}
.ml3{margin-right:3px !important;}
.ml10{margin-right:10px !important;}
.ml20{margin-right:20px !important;}
.ml30{margin-right:30px !important;}
.ml40{margin-right:40px !important;}
.ml50{margin-right:50px !important;}
.ml60{margin-right:60px !important;}
.ml70{margin-right:70px !important;}
.ml80{margin-right:80px !important;}
.ml90{margin-right:90px !important;}
.ml100{margin-right:100px !important;}


.w010{width:10px !important;}
.w020{width:20px !important;}
.w030{width:30px !important;}
.w040{width:40px !important;}
.w050{width:50px !important;}
.w060{width:60px !important;}
.w070{width:70px !important;}
.w080{width:80px !important;}
.w090{width:90px !important;}
.w100{width:100px !important;}
.w120{width:120px !important;}
.w150{width:150px !important;}
.w200{width:200px !important;}
.w250{width:250px !important;} 
.w300{width:300px !important;} 
.w400{width:400px !important;}
.w500{width:500px !important;}
 
.wp10{width:10% !important;} 
.wp20{width:20% !important;} 
.wp30{width:30% !important;} 
.wp40{width:40% !important;} 
.wp50{width:50% !important;} 
.wp60{width:60% !important;} 
.wp70{width:70% !important;} 
.wp80{width:80% !important;} 
.wp90{width:90% !important;} 
.wp100{width:100% !important;}

.fl{ float:left; }
.fr{ float:right; }
.al_c{ text-align:center !important; }
.al_l{ text-align:left !important; }
.al_r{ text-align:right !important; }
.tip{font-size:11px; color:#909090; line-height:15px; word-break:keep-all;}

/* 간단한 테이블(기본모양) */
table.simple{ border:1px solid #c0c0c0; border-collapse:collapse; table-layout:fixed;}
table.simple th{ text-align:center;  }
table.simple th, table.simple td{ border:1px solid #c0c0c0; padding: 5px 10px; line-height:18px; }

.con_con h4.h4{ clear:both; display:inline-block; padding-left:18px; font-size:21px; letter-spacing:-1px; font-weight:600; color:#3f4040; background:url(../img/bull/bull_tit.png) 0 10px no-repeat; }
.con_con h5.h5{ position:relative; clear:both;  padding-left:20px; margin-left:10px; margin-top:27px; font-size:17px; letter-spacing:-1px; color:#393939; background:url(../img/bull/bull_info_yellow.png) 0 2px no-repeat; line-height:18px;  }
.con_con h5.h5.eng{ letter-spacing:-0px; font-size:15px;}
.con_con h4.h4 .left{ float:right; height:20px; padding-left:20px; padding-top:2px; margin-left:18px; background:url(../img/bull/bull_info.png) no-repeat top 3px left 0; font-size:13px; line-height:18px; font-weight:500; color:#6b6969;} 
.con_con .tit{   margin-left:20px;  margin-bottom:12px; font-size:17px; color:#4e4e4e; font-weight:500; letter-spacing:-1px; }
.con_con .tit_tip{ margin-left:20px; margin-bottom:5px; font-size:14px; line-height:16px; letter-spacing:-0.5px; text-align:left; color:#737171;}
.con_con .tip_blue{  margin-left:20px; margin-bottom:20px;  font-size:12px; line-height:16px; color:#dd0000; letter-spacing:-0.5px;  text-align:left; }
 
