@CHARSET "UTF-8";
@import url('default.css'); 
@import url('include.css'); 
@import url('subcomm.css'); 
@import url('list2.css'); 

/*로그인화면*/
/* tabmenu */  
.tabarea {  position:relative; width:410px; margin:0 auto;  height:52px;  }
.tabarea ul {  height:52px;overflow:visible;  display:inline-block;  }
.tabarea ul li {  float:left; display:block; width:200px; height:52px; line-height:52px; padding-left:50px; color:#fff; }
.tabarea ul  li.choice a{   background-image:url(../img/bull/bull_check.gif);  background-repeat:no-repeat;  background-position:85% 22px;  }

/*로그인페이지 공통*/
.login_area{font-family: 'Advent Pro';  position:absoulte;  top:20%; left:0; width:100%; height:60%; padding-top:150px; display:inline-block; background:rgba(0,0,0,0.6); }
.login_area form{ display:block; width:410px; height:350px; margin:0 auto;  }
.login_area form.off{ display:none; }
.login_box ul { :inline-block; float:left;  }
.login_box input[type=submit]{  bor:1px solid #606060; background:#232323; display:block; color:#fff; cursor:pointer; }
.login_box input[type=submit]:hover{ background:#121212; }
.message_box{font-family: 'Advent Pro'; border:1px solid #fff; width:50%; margin:0 25% 150px 25%; display:block; clear:both; }
.message_box a{  bor:1px solid #606060; background:#232323; display:block; color:#fff; cursor:pointer; }
.message_box a:hover{ background:#121212; }

/*로그인쪽만*/
.login_box ul.login_inp { width:280px;}
.login_box ul.login_inp li{ clear:both; margin-bottom:10px; display:block;  height:45px; width:100%; }
.login_box ul.login_inp input[type=password],
.login_box ul.login_inp input[type=text]{ width:100%; padding:0 10px; height:45px; line-height:45px; background:#f8f8f8;  font-weight:500; color:#767676; }
.logBtn{ float:right; width:110px; height:100px;}

/*찾기영역*/
.login_box ul.find_inp { width:100%;}
.login_box ul.find_inp li{ clear:both; margin-bottom:10px; display:block; width:100%; height:35px; }
.login_box ul.find_inp li > * { float:left; height:35px; line-height:35px; }
.login_box ul.find_inp li .bttxt{ margin:0 4px; font-size:11px;  color:#fff;}
.login_box ul.find_inp li strong {width:110px; height:35px; line-height:35px; letter-spacing:-0.5px; text-align:left; font-size:13px; color:#fff; }
.login_box ul.find_inp input[type=password],
.login_box ul.find_inp input[type=text]{ width:auto; padding:0 10px; height:35px; line-height:35px; background:#f8f8f8; font-weight:500; color:#767676; font-size:13px; }
.findBtn{ clear:both; width:100%; height:50px; }

ul.login_fot{ clear:both;  display:block; width:100%; }
ul.login_fot li{ width:100px; margin-right:10px; border:1px solid #d0d0d0; color:#fff; float:left; display:inline-block; line-height:100%; line-height:35px; height:35px; font-size:13px; }
ul.login_fot li:last-child{margin-right:0; width:110px; float:right;}
ul.login_fot li a{color:#fff;}

/******스텝************/
/*스텝*/
.con_con{width:100%; height:100%;   display:block;}
.Step{ float:right; display:inline-block; height:35px; font-size:17px; line-height:35px; }
.Step .on{ float:left; display:block; height:35px; margin-right:12px; border:1px solid #817f7f;  vertical-align:middle; color:#817f7f; border-radius:20px; padding-right:18px; }
.Step .num{ position:relative; float:left;  width:35px; display:inline;   font-weight:600; border-radius:20px } 
.Step .on .on_tit{ position:relative; float:left; padding-left:16px; padding-right:12px;  display:inline-block;  font-size:13px; color:#232323; letter-spacing:-0.5px; text-align:left; background:url(../../images/comm/Step_on.png) repeat-x 0 0;}
.Step .off{ float:left; display:block;  width:35px; margin-right:12px; border:1px solid #817f7f;  vertical-align:middle; color:#817f7f; border-radius:20px; }
/******스텝************/
/*개인정보*/
.Agree_area{ border:1px solid #fff; clear:both; text-align:left !important; }
.Agree_area .agree_cont{ position:relative;   background:#fafafa;  border:1px solid #e1e1e2; }
.Agree_area .agree_cont .cont{  display:block; width:100%; margin-bottom:50px; display:block; height:200px;  overflow-y:scroll; font-size:14px; line-height:20px; color:#5f5f5f}
.Agree_area .agree_cont .cont h5{ color:#1f1f1f; font-weight:bold; margin-bottom:22px; margin-top:50px;	}
.Agree_area .agree_cont .cont p{margin-left:20px; margin-bottom:5px;}
.Agree_area .agree_cont .cont .style1{margin-left:0px; font-weight:700; margin-top:20px; margin-bottom:10px;}

.Agree_area .agree_cont .checkarea{ position:absolute;  bottom:0; padding:15px 30px; height:50px; width:100%; background:#efefef; border-top:1px solid #dfdfe0; font-size:14px; color:#454444;}	
.Agree_area .agree_cont .checkarea label{ position:relative; margin-top:18px;  height:14px; vertical-align:top; cursor:pointer}
.Agree_area .agree_cont .checkarea input[type=checkbox]{ margin-right:6px; width:13px; height:13px; line-height:14px;}

.Agree_area .checkall{ width:100%; height:50px; display:inline-block; padding-top:25px; padding-left:20px; color:#4391fc; font-weight:600}
.Agree_area .checkall label{ position:relative;  height:15px; line-height:15px; vertical-align:top; font-weight:600; cursor:pointer }
.Agree_area .checkall input[type=checkbox]{ clear:both;  margin-right:6px; width:15px; height:15px; line-height:15px;}


/*아이디 비밀번호찾기*/
.btnL_area{ clear:both; width:100%; margin:50px auto; height:50px; }

.btnL_area input[type="submit"],
.btnL_area input[type="reset"]{ height:50px; line-height:50px; padding:0 50px;  }
.btnL_area input[type="submit"]{background:#223230; color:#fff; padding:0 50px; border:1px solid #223230; }
.btnL_area input[type="reset"]{ height:50px; line-height:50px; padding:0 50px; border:1px solid #223230; color:#223230; }
	
